.header-login, .header-user {
	position:absolute;
	top:0;
	right:0.4rem;
	width:2rem;
	color:#fff;
	font-size: 0.32rem;
	line-height:1.146667rem;
	text-align:right;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.dialog-logout {
	padding:0 0.666667rem;
	.text-hint {
		color:#000;
		padding:0.4rem 0;
		border-bottom:1px solid #d9d9d9;
		text-align: center;
		font-size: 0.4rem;
	}
	.btn-area {
		padding:0.4rem 0;
	}
	input[type=button] {
		margin:0 0.533333rem;
	}
}
