.dialog {
	width:10rem;
}

.dialog-title {
	height:1.066667rem;
	line-height:1.066667rem;
	padding:0.48rem 0;
	background-color: #f3f3f7;
	font-size: 0.4rem;
	padding:0 0.48rem;
	color:#333;
}

.dialog-content {
	padding:0.4rem;
	background:#fff;
}